<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.meituan.dao.RedbagMapper">
  <resultMap id="BaseResultMap" type="com.niit.meituan.model.Redbag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="limit" jdbcType="VARCHAR" property="limit" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from redbag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.niit.meituan.model.Redbag">
    insert into redbag (id, name, desc, 
      amount, condition, limit, 
      expire_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{condition,jdbcType=VARCHAR}, #{limit,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.niit.meituan.model.Redbag">
    update redbag
    set name = #{name,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      condition = #{condition,jdbcType=VARCHAR},
      limit = #{limit,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, desc, amount, condition, limit, expire_time
    from redbag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, desc, amount, condition, limit, expire_time
    from redbag
  </select>
</mapper>